//- список статистики компании
- const elementCount = [{'number': 42,'text': 'Web Design Projects'},{'number': 123,'text': 'happy client'},{'number': 15,'text': 'award winner'},{'number': 99,'text': 'cup of coffee'},{'number': 24,'text': 'members'}]

.count
  .count__wrapper.wrapper

    //- выводим в цикле elementCount
    each val in elementCount
      .count__element
        .count__number= val.number
        .count__text= val.text