.slider
  .slider__carousel.owl-carousel.owl-theme
    .slider__element(data-hash="one")
      .slider__wrapper.wrapper
        p.slider__subtitle Creative Template
        h1.slider__title Welcome#[<br>]to MoGo
        a(href="#" tabindex="-1").slider__button Learn more
    .slider__element.slider__element--bg_blue(data-hash="two")
      .slider__wrapper.wrapper
        p.slider__subtitle Creative Template
        .slider__title Work
    .slider__element.slider__element--bg_green(data-hash="three")
      .slider__wrapper.wrapper
        p.slider__subtitle Creative Template
        .slider__title About
    .slider__element.slider__element--bg_pink(data-hash="four")
      .slider__wrapper.wrapper
        p.slider__subtitle Creative Template
        .slider__title Contacts
  .slider__nav
    .slider__wrapper-nav.wrapper
      a(href="#one" tabindex="-1").slider__link.slider__link--active #[span 01] Intro
      a(href="#two" tabindex="-1").slider__link #[span 02] Work
      a(href="#three" tabindex="-1").slider__link #[span 03] About
      a(href="#four" tabindex="-1").slider__link #[span 04] Contacts